* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #1e272e;
}

.navbar {
    width: 100%;
    padding: 15px;
    /* background-color: rgb(190, 140, 45); */
    background-color:rgb(128, 142, 155);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 2;
}

.navbar-scroll {
    width: 100%;
    padding: 15px;
    /* background-color: rgba(190, 140, 45, 0.8); */
    background-color: rgba(128, 142, 155, .8);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 2;
}

.linkNavbar {
    width: 80px;
    height: 40px;
    text-align: center;
    background-color: #34495e;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
}

.linkNavbar:hover {
    /* color: rgb(190, 140, 45); */
    color: rgb(202, 153, 48);
    transition: 0.5s ease;
}

.linkNavbar:focus {
    box-shadow: 0px 0px 0px 2px rgb(100, 100, 100);
}